@CHARSET "UTF-8";

.box-with-title {
	padding:1cm;
}

.box-with-title > div:first-child {
	border:inherit;
	padding:3mm;
	margin:-7mm -7mm 7mm -7mm;
	background-color:#99F;
	color:#FFF;
	font-weight:bold;
}

.box-with-title > div:first-child > .buttons {
	float:right;
	margin:-3mm -3mm -3mm 0mm;
	padding:3mm;
}

.box-with-title > div:first-child > .buttons > div {
	display:inline-block;
	border-left:1mm solid #BBF;
	margin:-3mm 0mm -3mm 0mm;
	padding:3mm;
	cursor:pointer;
}

.box-with-title > div:first-child > .buttons > div:hover {
	background-color:#77F;
}

.box-with-title > div:first-child > .buttons > div:last-child {
	margin-right:-3mm;
}

.entrybox {
	width:15cm;
	margin:auto;
}

.entrytable, #aliascreation,  {
	width:100%;
}

.entrytable {
	margin-top:5mm;
}

.entrytable > div {
	padding:1.5mm;
	background-color:#E0E0FF;
}

.entrytable > div:nth-child(2n+1) {
	background-color:#EEF;
}

.entrytable > div > div {
	float:right;
}